@at-root {
    .img-figure{
        position: absolute;
        width:320px;
        height: 360px;
        padding: 40px;
        margin: 0;
        box-sizing: border-box;
        background-color: #fff;
        figcaption{
            text-align: center;
            .img-title{
                margin: 20px 0 0 0;
                color: #a7a0a2;
                font-size: 16px;
            }
        }
    }
}
